# Activer seulement apres acceptation de https://www.minecraft.net/en-us/eula
EULA=false
SERVER_NAME=Minecraft - TP Docker
GAME_PORT=25565
PUBLIC_GAME_ADDRESS=localhost:25565
WEB_PORT=8080
MAX_PLAYERS=10
JAVA_XMS=512M
JAVA_XMX=1536M
GAME_CPUS=2
GAME_MEMORY=2g
API_CPUS=0.5
API_MEMORY=128m
WEB_CPUS=0.2
WEB_MEMORY=128m
